<h1>About</h1>
<p>This is the about page</p>



<% # about.html.erb %>
<% # Creating an alert box using java script %>


<%= javascript_tag do %>
  alert("Khoa's example alert box.");
<% end %>

<%= link_to 'Home', root_path %>